.home-content{
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.homeleft{
    width: 40%;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* .homeright{ */
    
    /* } */
.maintext{
    width: 100%;
    text-wrap: wrap;
}
.Destop-picture{
    display: block;
    padding-left: 20%;
}
.Phone-picture{
    display: none;
}

@media only screen and (max-width:768px) {
    .homeleft{
        width: 100%;
    }
    .Phone-picture {
        display: block;
        /* padding-left: 10%; */
    }
    .Destop-picture {
    display: none;
    }
    
}